
<div class="container">
<%= image_tag "logo-devise.png", style: 'margin-bottom:10px;' %>
	
	<p> <b><span class='text-success'>¡Todo listo!</span></b><br><br> Tu contraseña ya ha sido modificada.</p>
	<p><b>Ya puedes volver a la app de Toppin e iniciar sesión con tu nueva contraseña.</b></p>

</div>