
<div class="container">
<%= image_tag "logo-devise.png", style: 'height: 120px; width: 120px; margin-bottom:10px;' %>
	
	<p> Hemos enviado a tu correo las instrucciones para cambiar tu contraseña.<br>
	Por favor, sigue los pasos y vuelve a la app cuando tengas una nueva contraseña.</p>
	<p> Si no has recibido el email, revisa tu carpeta de SPAM.</p>
</div>