<h1>Editing User Personal Question</h1>

<%= render 'form', user_personal_question: @user_personal_question %>

<%= link_to 'Show', @user_personal_question %> |
<%= link_to 'Back', user_personal_questions_path %>
