<h1>Editing User Filter Reference</h1>

<%= render 'form', user_filter_reference: @user_filter_reference %>

<%= link_to 'Show', @user_filter_reference %> |
<%= link_to 'Back', user_filter_references_path %>
